<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>  
   </head>

   <body>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
               <a class="navbar-brand" href="/">Spot A Spot</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link " href="#"></a>
                  </li>
                  {{#if loggedInUser}}
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Spots
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/spots">All Spots</a></li>
                        <li><a class="dropdown-item" href="/create-spot">Create A Spot</a></li>
                     </ul>
                  </li>
                  {{else}}
                  <a id="public-spot-access" href="/spots">All Spots</a>
                  {{/if}}
                  <li class="nav-item">
                     <a class="nav-link" href="#">I'm feeling lucky</a>
                  </li>
                  {{#if loggedInUser}}
                  
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Welcome <strong>{{loggedInUser.username}}</strong>
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/user/{{loggedInUser._id}}">My Profile</a></li>
                        <li><a class="dropdown-item" href="/favorite-spots">My Favorites</a></li>
                        <li><a class="dropdown-item" href="/users-list">Users List</a></li>
                        <li>
                        </li>
                        {{!-- <a class="dropdown-item" href="#">Logout</a> --}}
                        <form action="/logout" method="POST">
                           <button type="submit">Logout</button>
                        </form>
                     </ul>
                  </li>
                  {{else}}
                  <li class="nav-item">
                     <a class="nav-link" href="/login">Login</a>
                  </li>
                  {{/if}}
                  </ul>
               </div>
            </div>
         </nav>
         {{{body}}}

         <script src="/js/script.js"></script>
   </body>

</html>