<div class="container">
    <div class="row usr-info">
        <div class="col-md-3 usr-img">
            <img src="{{user.imageUrl}}"/>
        </div>
        <div class="col-md-8">
            <div>
                <h1>{{user.username}}</h1>
                <h4><i>{{user.funFact}}</i></h4>
                <p>Nationality: {{user.nationality}}</p>
                <p>Bio: {{description}}</p>
            </div>
             {{#is user._id ourUser._id}}
                <span>
                    <a class="new-spot-button" href="/user/{{user.id}}/edit">Edit Profile</a>
                    <a class="new-spot-button" href="/user/{{user.id}}/image">Edit Picture</a>
                </span>
             {{/is}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="user-spots-h">My Spots</h3>
            <ul class="cont-spot-items">
                {{#each user.spots}}
                    <li class="spot-item bg">
                {{#is user._id ourUser._id}} {{! not working }}
                    <div class="spot-i-fav">
                    <form action="/favorite-spots/{{spot.id}}" method="POST">
                        <button type="submit">Add to favourites</button>
                    </form>
                    </div>
                {{/is}}
                    <a href="/spots/{{id}}">
                        <img src="{{imageUrl}}" width="200vw">
                    </a>
                    <h5 class="spot-item-inf">{{type}}</h5>
                    <div class="spot-item-inf">
                        <a href="/spots/{{id}}">{{name}}</a>
                        <br>
                        <p><i class="fas fa-map-marker-alt"></i>{{location}}</p>
                    </div>
                    <div class="flex">
                        <form action="/spots/{{id}}/delete" method="POST">
                        <button class="spot-item-bt" type="submit">Delete</button>
                        </form>
                        <form action="/spots/{{id}}/edit" method="GET">
                        <button class="spot-item-bt" type="submit">Edit Spot</button>
                        </form>
                    </div>
                    </li>
                {{/each}}
            </ul>
            {{!-- {{#is user._id ourUser._id}}
                    <form action="/spots/{{spots.id}}/edit" method="GET">
                        <button type="submit">Edit Spot</button>
                    </form>
                    <br/>
            
                    {{/is}} --}}
        </div>
    </div>
</div>