<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="{{imageUrl}}"/>
        </div>
        <div class="col-md-9">
            <div>
                <h1>{{username}}</h1>
                <h3>{{funFact}}</h3>
                <h5>{{nationality}}</h5>
                <a href="/user/{{id}}/edit">Edit</a>
            </div>
            <p>{{description}}</p>
        </div>
    </div>
</div>