<h1>Editing {{spot.name}}</h1>
<form action="/spots/{{spot.id}}/edit" method="POST" >
 
 
  <label>Name</label>
  <input type="text" name="name" value="{{spot.name}}"/>

  <label>Location</label>
  <input type="text" name="location" value="{{spot.location}}"/>
  <label>Description</label>
  <textarea rows="5" cols="20" name="description">{{spot.description}}</textarea>

  <button type="submit">Submit</button>
</form>