<div class="container bg">
    <div class="row details-h">
        <h1>{{spot.name}}</h1>
        <h2>{{spot.type}}</h2>
    </div>
    <div class="row">
        <img src="{{spot.imageUrl}}" alt="{{spot.name}}"/>
    </div>
    <br/>
    <div class="row details-c">
        <h6>Recommended by: <strong>{{spot.user.username}}</strong></h6>
        <h6><i class="fas fa-map-marker-alt"></i> {{spot.location}}</h6>
        <h6><i class="fas fa-coins"></i> {{spot.budget}}</h6>
        <h6><span>Review:</span><br> {{spot.description}}</h6>
    </div>
    
    {{#is spot.user._id ourUser._id}}
    <div class="spot-forms">
        <form action="/spots/{{spot.id}}/edit" method="GET">
            <button type="submit">Edit Spot</button>
        </form>
        <br/>
        <form action="/spots/{{spot.id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
    {{/is}}
    {{#if loggedInUser}}
    <form action="/favorite-spots/{{spot.id}}" method="POST">
        <button type="submit">Add to favorites</button>
    </form>
    {{/if}}
    </div>
</div>