<div class="container">
    <div class="row">
        <h1>{{spot.name}}</h1>
        <h2>{{spot.type}}</h2>
    </div>
    <div class="row">
        <img src="{{spot.imageUrl}}" alt="{{spot.name}}"/>
    </div>
    <br/>
    <div class="row">
        <h6>Description: {{spot.description}}</h6>
        <h6>Budget: {{spot.budget}}</h6>
        <h6>Where to find it: {{spot.location}}</h6>
        <h6>Recommended by: {{spot.user.username}}</h6>
    </div>
    
    {{#is spot.user._id ourUser._id}}
    <div class="spot-forms">
        <form action="/spots/{{spot.id}}/edit" method="GET">
            <button type="submit">Edit Spot</button>
        </form>
        <br/>
        <form action="/spots/{{spot.id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
       
    {{/is}}
    {{#if loggedInUser}}
     <form action="/favorite-spots/{{spot.id}}" method="POST">
        <button type="submit">Add to favorites</button>
    </form>
    {{/if}}
    </div>
</div>